/* michroma-latin-400-normal */
@font-face {
  font-family: 'Michroma';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/michroma@latest/latin-400-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/michroma@latest/latin-400-normal.woff) format('woff');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}
body {
  font-family: 'Michroma', sans-serif;
  background-image: url(https://img.freepik.com/fotos-premium/imagens-de-fundo-abstrato-papel-de-parede-gerado-por-ai_643360-47048.jpg) ;
  background-size: cover; 
  
}
header {
display: in;
}
nav ul li{
    display: inline-block;
}
 li{
    font-size: 1.2em;
    background: linear-gradient(135deg, #d4d4d4, #f0f0f0, #a9a9a9, #f0f0f0, #d4d4d4);
    margin: 10px;
    text-align: center;
    border: 4px solid black;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 40px;
    border-style: inset;
}
nav, ul {
    
    margin-top: 3px;
    margin-bottom: 3px;
}